{% extends 'base.html' %}

{% block title%}

Home

{% endblock title %}

{% block body%}
    <div> 
        <div class="card m-5">
            <h1 class="card-title m-3">Interview Scheduler</h1>
            <div class="card-body"> 
                Are you an Interviewer/ Candidate?<a class="card-link" href='{% url "submit" %}'>Submit your Schedule</a>
                        <br>
                HR : <a class="card-link" href='{% url "submit" %}'>Schedule an Interview</a>
            </div>

        <div class="card-footer">
        <a href="{% url 'signup' %}">Sign Up </a>
        <a class="m-3"href="{% url 'login' %}"> Log in </a>  </div>

        </div>

    </div>
{% endblock body %}

